* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

header, footer {
background-color: pink;	
color:white;
font-family: "Source Sans Pro", sans-serif;
height: 190px;
text-align: center;
}

h1 {font-size: 45px;
    text-decoration: overline;
    text-align: center;
}

h2 {text-indent:23px;
    text-decoration: underline;
    text-align: center;
}

h3 {
    text-decoration: underline;
}

h3 {
    color: #b27f87;
}

.centered {

}

header .subtitle {
	p {
font-family: "Source Sans Pro", sans-serif;
}}

h1 {
color: white;
font-family: "Source Sans Pro", sans-serif;
}

ul {
	display: flex;
	flex-wrap: wrap;

}

ul li {
	width: 50%;
}

main {
	font-family: "Source Sans Pro", sans-serif;
text-align:left;
text-indent: 230px;
list-style-position: inside;
}

section {

}

h2 {

}

h3 {

}

p {

}

.details {

}

.object {

}

.object:after {
	content: " | ";
}

footer h2 {

height: 30px;
}